body{
	font-family:  Segoe UI;
	color: #FFFFFF;
	font-size: 14px;
	background-color: #000000
}
header{
	padding: 20px 0;}

#hero{
	background-image:url(../img/slider-3.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	padding: 200px 0;
	
}

#hero h1{
	font-size: 80px;
	font-weight: 700;
	
}

#hero p{
	font-size: 20px;
}

.btn-rectangulo{
	background-color:transparent;
	border:1px solid #fff;
	color: #fff;
	border-radius: 0;
	padding: 10px 30px;
	text-transform: lowercase;
	font-weight:600;
}
.btn-rectangulo:hover{
	background-color: #FFFFFF;
	color:#000;
	
}

#services{
	padding: 100px 0px;
	
}

#services h2{
	font-size: 40px;
	
	
}
	
#scroll{
	padding:100px 0px;
}

#scroll .info-scroll{
	text-align:center;
	margin-bottom: 50px;
	margin: 20px;
}

.info-scroll h3{
	padding-bottom: 20px;
	font-size: 25px;
}

.info-scroll h4{
	font-size: 22px;
	
}

.info-scroll p{
	font-size: 16px;
}

#logos{
	background-color: #171717;
	padding: 30px 0px;
}
