body{
	font-family: Segoe UI;
	font-size: 14px;
	color:#000000;
    margin: 0;
}
#S1{
	/*background-color: #000;*/
	background-image: url(../img/cssdog2.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	height: 200px;
	padding: 300px 0;
	color:#FFFFFF;
	text-align: center;
}

.menu{
	font-size: 16px;
	list-style: none;
	text-align: right;
	margin-right: 100px;
}

.menu li{
	display: inline-block;
	margin-right: 20px;
	
}

.menu li a {
	text-decoration: none;
	color: #000;
	padding: 12px 15px;
}

.menu li a:hover{
	color: #FFFFFF;
	background-color: #0088F8
}

.quasar{
	font-size: 20px;
	text-transform: uppercase;
	margin-left: 30px;
}

header{
	background-color: #FFFFFF;
	padding-top: 10px;
	margin-bottom: 0;
}

.boton{
	font-size:16px;
	color: #FFFFFF;
	text-align: center;
	padding: 15px 20px;
	text-decoration: none
}
.boton-naranja{
	background-color: #FF6E00
}

.boton-azul{
	background-color:#008CFF
}
#S1 h1{
	margin-bottom: 40px;
}

#S2{
	text-align: center;
	background-color:#008CFF;
	color: #FFFFFF;
	padding: 60px 10px;
	
}

#S2 .row{
	border: #FFFFFF thin solid;
	
	
}
.circle{
	width: 60px;
	height:60px;
	background-color:white;
	border-radius: 100%;
	margin:auto;
	margin-top: 10px;
	margin-bottom: 10px;
	
}

footer{
	background-color: #FF6E00;
	text-align: center;
	color:#fff;
	font-size: 18px;
	padding: 10px;
	
}
